@import 'App.scss';

.contact {
    @extend .about-1;
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
    padding-top: 170px;
    margin-bottom: 0px;
   .ct-1 {
      padding-top: 80px;

      h3 {
        border: 2px solid $white;
        font-size: 18px;
        padding: 15px 10px;
        width: 260px;
        margin: auto;
        text-align: center;
        color: $white;
        font-weight: 400;
        transition: 0.5s ease-out;
        &:hover {
            box-shadow: inset 260px 0 0 0 $white;
            color: $brown;
        }
    }
   }

   h1 {
    @include h1-style(uppercase, underline, 1.4em, center, $white);
    padding-top: 10px;
}
    h2 {
        color: $white;
        font-weight: 400;
        padding-bottom: 20px;
        font-size: 22px ;
    }

    @media screen and (min-width: 580px) {
        h1 {
            @include h1-style(uppercase, underline, 2em, center, $white);
            padding-top: 10px;
        }
       h2 {
            color: $white;
            font-weight: 400;
            padding-bottom: 20px;
            font-size: 27px;
        }
      .ct-1  h3 {
        border: 2px solid $white;
        font-size: 25px;
        padding: 15px 10px;
        width: 350px;
        margin: auto;
        text-align: center;
        color: $white;
        font-weight: 400;
        transition: 0.5s ease-out;
        &:hover {
            box-shadow: inset 350px 0 0 0 $white;
            color: $brown;
        }
    }
    }
    
}

@media screen and (min-width: 442px) {
    h3 {
        border: 2px solid $white;
        font-size: 28px;
        padding: 15px 10px;
        width: 400px;
        margin: auto;
        text-align: center;
        color: $white;
        font-weight: 600;
        transition: 0.5s ease-out;
        &:hover {
            box-shadow: inset 400px 0 0 0 $white;
            color: $brown;
        }
    }
}

.ct-2 {
    background-color: $btn-black;
    height: 40vh;
    color: $white;
}
.ct-3 {
    width: 300px;
    margin: auto;
    height: 100px;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    font-size: 32px;
}
hr {
    border-color: $white;
    width: 50%;
    margin: auto;
}
p {
    font-size: 17px;
    color: rgb(177, 172, 172);
    padding-top: 10px;
    opacity: 0.5;
}