@import 'App.scss';

.skills {
    width: 85%;
    margin: auto;
    padding-bottom: 100px;
    h1 {
        @include h1-style(uppercase, none, 2em, center, $btn-black);
    }
    @media screen and (min-width: 580px) {
        h1 {
            @include h1-style(uppercase, none, 2em, center, $btn-black);
        }
    }

    .skill-1 {
        display: block;
        padding-top: 50px;
        padding-left: 15px
    }
    .skl {
        @include content(70%, 30%, left, 5px 5px 5px 5px rgb(228, 222, 222), 20px 15px 10px 25px, 10px);
    }
    @media screen and (min-width: 580px) {
        .skill-1 {
            display: flex;
            justify-content: space-between;
            padding-top: 100px;
        }
        .skl {
            @include content(50%, 40%, left, 5px 5px 5px 5px rgb(228, 222, 222), 20px 15px 10px 25px, 10px);
        }
    }
    
    .Tilt {
        width: 45%;
        height: 40%;
        display: flex;
        align-items: baseline;
        justify-content: center;
        margin-top: 50px;
        margin-right: 50px;
        box-shadow: 10px 5px 10px 5px rgb(250, 248, 248);
        &:hover {
            transition: 0.2s ease-in-out;
             }
             .Tilt-inner {
                box-shadow: 10px 15px 10px 15px whitesmoke ;
            }
        }
}