$button-clr: green;
$btn-black: black;
$light: rgb(237, 238, 235);
$dark: rgb(133, 97, 13);
$white: white;
$brown: rgb(9, 119, 58);
$font-color: rgb(211, 204, 187);

body {
    height: 100%;
}

 button {
    background-color: $btn-black;
    font-size: 16px;
    outline: none;
    width: 140px;
    height: 35px;
    border: none;
    color: $white;
    &:hover {
        background-color: $light;
        color: $dark;
    }
}

@media screen and (min-width: 640px) {
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: $btn-black;
        font-size: 16px;
        outline: none;
        cursor: pointer; 
        padding: 5px 20px;
        height: 35px;
        border-radius: 3px;
        text-decoration: underline;
        border: none;
        color: $white;
        &:hover {
            background-color: $light;
            color: $dark;
        }
    }
}

@mixin h1-style($capital, $decot, $font, $align, $color) {
    text-transform: $capital;
    text-decoration: $decot;
    font-size: $font;
    text-align: $align;
    color: $color;
}

@mixin content($width, $height, $text, $box, $pad, $pad1) {
       width: $width;
        height: $height;
        text-align: $text;
        box-shadow: $box;
        padding: $pad;
        li {
            padding-bottom: $pad1;
        }
}
